{
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["transform-react-jsx"]
    },
    "development": {
      "presets": [
        ["env", {"modules": false}]
      ],
      "plugins": [
        "transform-react-jsx",
        "external-helpers"
      ]
    }
  }
}
