{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        ["env"], "stage-0", "react"
      ]
    }
  },
  "plugins": []
}