{
  "plugins": [
    "jest",
    "prettier",
    "xss"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "prettier",
    "prettier/react",
    "airbnb",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "jest/no-mocks-import": [0],
    "prettier/prettier": "error",
    "react/forbid-prop-types": "off",
    "quotes": [0],
    "comma-dangle": [2, "only-multiline"],
    "max-len": [1, {"code": 90}],
    "no-unused-expressions": [0],
    "no-continue": [0],
    "no-plusplus": [0],
    "operator-linebreak": [0],
    "func-names": [0],
    "arrow-parens": [0],
    "space-before-function-paren": [0],
    "import/no-extraneous-dependencies": [2, {"devDependencies": true}],
    "implicit-arrow-linebreak": "off",
    "jsx-a11y/no-static-element-interactions": [0],
    "react/no-find-dom-node": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/no-danger": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": ["error", {"extensions": [".js"]}],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
    "react/jsx-props-no-spreading": [0],
    "react/jsx-curly-newline": [0],
    "object-curly-newline": [0],
    "react/require-default-props": 0,
    "class-methods-use-this": [0]
  }
}
