.chrome-category {
    color: #fff;
    margin-right: 6px;
    border-radius: 2px;
    padding: 1.2px 3px;
}

.chrome-shortcut {
    float: right;
    margin-right: 2px;
    color: rgb(150, 150, 150);
    display: inline-block;
}

.Command {
    background: rgb(67, 130, 207);
}
.Navigate {
    background: rgb(165, 22, 134);
}
.Network {
    background: rgb(46, 41, 194);
}
.System {
    background: rgb(49, 177, 79);
}
.Drawer {
    background: rgb(206, 64, 206);
}